
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">

  <div class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
    <h1>DFL primary voters turned out in force — even in areas Trump won</h1>
    <p class="byline">By Chase Davis • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="body">

      <p>The number of DFL voters in this month's statewide primary elections outpaced Republicans nearly 2:1 — including in many areas that voted for Donald Trump in 2016.</p>

      <p>As election season nears its unofficial Labor Day kickoff, a looming question for both parties is whether that disparity signals a wave of Democratic enthusiasm that could carry over into November, even as the state in recent years has otherwise shifted right.</p>

      <p>Election watchers often caution against drawing broad conclusions from primary turnout, which depends heavily on party dynamics and the characteristics of individual contests. But with hotly contested governor's races at the top of each party's ticket, this year's primary offers the rare chance to compare party turnout on relatively even terms.</p>

      <p>So we built a map to help you explore where each party's gubernatorial voters turned out by voting precinct — the most detailed results available. Use it to see where each party enjoyed a turnout advantage in the primary, compared to how they voted in 2016:</p>

    </section>
    
    <BigMap />

    <div class="credits">
      <p>Source: Election results and precinct data from Minnesota Secretary of State.</p>

      <p>Minnesota primary voters are allowed to vote for either DFL or Republican candidates on a single ballot — not a combination of both. Results reflect voters in each party's governor's race, which attracted the largest number of votes for both parties.</p>
    </div>

  </div>

  </section>
</div>


<script>
  // Dependencies and components
  import BigMap from "./components/_bigmap.svelte.html";

  // Svelte logic
  export default {
    components: {
      BigMap
    },
  };
</script>
